@import url("https://fonts.gooleepis.com?family=Poppins&display=swap");


*{
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
